header {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin: 35px 0;
}

.header-title a {
  color: rgb(0, 153, 94);
  text-decoration: none;
}

nav {
  display: flex;
}

nav p a {
  color: inherit;
  text-decoration: none;
}

nav p:hover a {
  color: rgb(0, 153, 94);
  cursor: pointer;
}

nav p:first-child {
  margin-right: 25px;
}
